aiodns==4.0.4
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
DateTime==6.0
filetype==1.2.0
Flask==3.1.3
frozenlist==1.8.0
idna==3.19
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.1
mutagen==1.48.1
orjson==3.12.0
propcache==0.5.2
pyaes==1.6.1
pyasn1==0.6.4
pycares==5.0.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==1.10.26
pyrubi==3.6.0
pytz==2026.3.post1
requests==2.34.2
rsa==4.9.1
rubika-bot-api==1.2.0
rubx==10.6.9
soupsieve==2.9.2
SPlusthon==1.1.4
tinytag==2.3.2
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.7.0
websocket-client==1.9.2
Werkzeug==3.1.8
yarl==1.24.5
zope.interface==8.6
